*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVIGATION */

.header{
    height: 78px;
    background: #fee107;
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-bottom: rgb(65, 1, 48) 5px solid;
    
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

#false-header{
    height: 78px;
    background: #fee107;

}

.header img{
    height: 50px;
    margin-left: 20px;
    vertical-align: middle;
}

.header h3{
    font-family: 'Stick', sans-serif;
    font-size: 35px;
    color: black;
    margin-left: 80px;
    margin-bottom: 3px;
    position: absolute;
}


.header a{
    color: black;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 20px;
}


.header ul li{
    display: inline-block; 
}

.header ul li a{
    text-align: center;
    display: block;
    padding: 27px 30px;
    transition: all 0.25s linear;
    height: 78px;
    margin-left: 5px;
    
}

.header ul li a:hover{
    background:rgb(32, 0, 44);
    color: whitesmoke;
    height: 78px;
    border-bottom:  5px solid #fb1a5e;
    animation: bordes 0.4s 0.4s ;
 
}



/* MAIN */
.main{
    padding: 0 50px;
    background: white;
    margin: 0 20px;

}

.main h1{
    padding: 20px;
    margin-top: 20px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}


.info{
    display: block;
}

.info1 {
    height: 350px;
    padding: 0 120px;
}

.info1 img{
    height: 300px;
    float: left;
    vertical-align: middle;
    margin-right: 20px;
    border: 6px solid #fb1a5e;
    border-radius: 5px;

}

.info1 p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: justify;    
}


.info2 {
    height: 350px;
    padding: 0 120px;
}

.info2 img{
    height: 300px;
    float: right;
    vertical-align: middle;
    margin-left: 20px;
    border: 6px solid #26026d;
    border-radius: 5px;
}

.info2 p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: justify; 
    
}

/* BANNER 1*/

.banner1{
    width: 100%;
    height: 400px;
    background-image: url('../img/banner1.jpg');
    background-repeat: no-repeat center;
    background-size: cover;
    margin-top: 20px;
    margin-bottom: 120px;
}

.banner1 .content{
    width: 40%;
    padding: 90px 0 0 30px;
    color: white;
    margin-bottom: 40px;
}

.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #ffffff;
    color: #000000;
    font-size: 15px;
    border: 1px solid #fff;
    margin-left: 28px;
    text-decoration: none;
    border-radius: 15px;
}


.btn:hover{
    opacity: 0.8;
}


.info2-0{
    display: inline-block;
    margin-top: 140px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;  
    margin-bottom: 200px;
}

.info3 {
    height: 400px;
    padding: 0 50px;
}

.info3 img{
    height: 450px;
    vertical-align: middle;
    margin-right: 20px;
    border-radius: 5px;
    display: inline-block;
}

.info3 p{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;  
    padding: 60px 0;
}

.banner2{
    width: 100%;
    height: 400px;
    background-image: url('../img/banner2.jpg');
    background-repeat: no-repeat center;
    background-size: cover ;
    margin-top: 20px;
    margin-bottom: 120px;
}

.banner2 .content{
    width: 40%;
    padding: 90px 0 0 30px;
    color: white;
    margin-bottom: 40px;
}

/* MAESTROS */

.maestros{
    background-color: #4d4d4d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fdfdfd' fill-opacity='0.18'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    height: 650px;
    width: 100%;
    padding: 120px 210px;
    display: flex;
    

}

.maestros img{
    height: 300px;
    align-items: center;
    margin: 10px;
    border: solid rgb(0, 0, 0) 2px;
    border-radius: 150px;
}


.maestro ,
.maestra {
    margin: 0px 80px;
    border: solid aqua 5px;
}

.txt-maestra,
.txt-maestro{
    text-align: center;
    
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: antiquewhite;
}

h2{
    font-family: Arial, Helvetica, sans-serif;

}



/* Social */
.social{
    height: 50vh;
    background: #000000;
    padding: 60px;

}


.links{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.links a{
    margin: 0 30px;
}

.links a i{
    font-size: 3rem;
    color: white;
    

}

.social h1{
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    color: #fff;
}

.social h2{
    font-family: 'Stick', sans-serif;
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
    margin-bottom: 40px;
    color: #fff;

}

/* Footer Links */

.footer-links{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 35px 0;
    
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;

}

.footer-container h3{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.footer-container ul{
    margin: 0 auto;
    list-style: none;
}

.footer-container ul li{
    line-height: 2.8;
}

.footer-container ul li a{
    text-decoration: none;
    color: rgb(172, 172, 172);
    font-weight: lighter;
}


/* Foooter - Final de Pagina*/

.footer{
    background: #2f3640;
    color: #616161;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

.footer h1{
    font-size: 15px;
    font-family: 'JetBrains Mono', monospace;    
    margin-left: 10px;
    font-variant: small-caps;
}

.desarrollador {
    display: inline-flex;

}





body::-webkit-scrollbar {
    width: 14px;     /* Tamaño del scroll en vertical */
    height: 18px;    /* Tamaño del scroll en horizontal */
    background: #702df7;
        
}


body::-webkit-scrollbar-thumb {
    background-color:  #3b05a7;
    border-radius: 3px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
body::-webkit-scrollbar-thumb:hover {
    background: #26026d;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
body::-webkit-scrollbar-thumb:active {
    background-color:  #0f002e;
}

